.back-to-top{
    width: 64px;
    height: 64px;
    background: url(../../img/integral/back2top.png) center no-repeat;
    background-size: contain;
    position: fixed;
    right: 20px;
    bottom: 125px;
}