@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button {
  vertical-align: middle;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  border: none 0;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

button:active {
  transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  outline: none;
}

button:hover {
  background-color: #6FC6FF;
  outline: none;
}

span {
  font-size: 3rem;
  display: inline-block;
  vertical-align: middle
}