@charset "UTF-8";
body {
  text-align: center; }

.record-container {
  display: inline-block;
  overflow: hidden;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 6px #99907e;
  background: #b5ac9a; }

.record {
  position: relative;
  margin: 19px auto;
  width: 262px;
  height: 262px;
  border-radius: 50%;
  background: linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, 0.85) 40%) no-repeat 100% 0, linear-gradient(60deg, rgba(42, 41, 40, 0.85) 60%, transparent 60%) no-repeat 0 100%, repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%; }

.record:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px;
  border: solid 1px #d9a388;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #da5b33, inset 0 0 0 27px #da5b33;
  background: #b5ac9a;
  content: ''; }

.repeat-linear-gradient {
  width: 1000px;
  height: 100px;
  background: repeating-linear-gradient(120deg, #0092b7 0, black 1px, black 0.25em, #0092b7 calc(0.25em + 1px), #0092b7 0, #0092b7 0.75em);
  /*background: repeating-linear-gradient(120deg, black 0, black .25em, #0092b7 0.25em, #0092b7 .75em);*/ }

.linear-gradient-backgroundsize {
  width: 1000px;
  height: 100px;
  margin-top: 50px;
  background: linear-gradient(120deg, #000 0.125em, #0092b7 calc(.125em + 1px), #0092b7 calc(50% - .125em), #000 calc(50% - .125em + 1px), #000 calc(50% + .125em), #0092b7 calc(50% + .125em + 1px), #0092b7 calc(100% - .125em), #000 calc(100% - .125em + 1px));
  background-size: 1em 1.76em; }

/*这里面有一个小技巧就是当使用渐变色的边缘有锯齿的时候可以加上1px来进行修复
      一般来说firefox和Edge/IE下的效果都完美，chrome会有这个问题
  */
