.wrapper-misc-instruction{
    .am-list-line{
        position: initial;
        .am-list-content{
            font-size: 32px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .am-list-brief{
            color: #999;
            font-size: 26px;
            line-height: 42px;
            white-space: normal;
        }
    }
}