.novice {
	p {
		font-size: 28px;
		color: #333;
		text-align: center;
		margin-top: 500px;
	}
}

.popup {
	.content {
		width: 500px;
		border-radius: 20px;
		.close {
			top: 10px;
			&:before, &:after {
				background: #666;
			}
		}
		p {
			font-size: 28px;
			text-align: center;
			color: #333;
			line-height: 1.5em;
		}
		a {
			width: 360px;
      font-size: 28px;
      color: #333;
      border: 1PX solid black;
      border-radius: 20px;
		}
	}
}