@-webkit-keyframes in {
	0% {
		transform: scale(0, 0) translate(-50%, -50%);
	}
	80% {
		transform: scale(1.2, 1.2) translate(-50%, -50%);
	}
	100% {
		transform: scale(1, 1) translate(-50%, -50%);
	}
}

@-webkit-keyframes out {
	0% {
		transform: scale(1, 1) translate(-50%, -50%);
	}
	80% {
		transform: scale(0, 0) translate(-50%, -50%);
	}
	100% {
		transform: scale(0, 0) translate(-50%, -50%);
	}
}

.popup-container {
	position: relative;
	z-index: 101;
	.popup-cover {
		position: fixed;
		background: rgba(0, 0, 0, 0.6);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 101;
	}
	.content {
		position: fixed;
		width: 600px;
		top: 50%;
		left: 50%;
		padding: 80px 0 55px;
		background: #fff;
		transform: translate(-50%, -50%);
		transform-origin: 0 0;
		z-index: 101;
	}
	.close {
		position: absolute;
		top: 0px;
		right: 15px;
		width: 47px;
		height: 47px;
		&:before, &:after {
			content: "";
			position: absolute;
			left: 2px;
			top: 47%;
			width: 50px;
			height: 1PX;
			background: #666;
		}
		&:before {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:after {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
	a {
		display: block;
		font-size: 30px;
		color: #fff;
		line-height: 70px;
		width: 520px;
		margin: 30px auto 0;
		text-align: center;
	}
	.in {
		animation: in 0.22s linear;
	}
	.out {
		animation: out 0.3s linear;
	}
}