body {
  font: 8pt/16pt verdana, geneva, arial, sans serif;
  margin: 0;
  padding: 0; }

.container {
  border-top: 1px solid #230;
  border-right: 1px solid #230;
  position: relative;
  width: 760px;
  color: #000;
  margin: 0 auto;
  background: transparent url(../img/topbg.gif) 0 0 repeat-x;
  vertical-align: top;
  padding: 0 0 1px 0; }
  .container .header {
    height: 285px;
    font-size: 0px; }
    .container .header h1 {
      display: inline-block;
      *zoom: 1;
      *display: inline;
      background: transparent url(../img/centerpiece.jpg) 0 0 no-repeat;
      width: 355px;
      height: 201px;
      margin-top: 20px;
      vertical-align: top; }
    .container .header h2 {
      font: bold 11px/14px arial, verdana, sans serif;
      color: #fff;
      padding: 100px 30px 2px 30px;
      display: inline-block;
      *zoom: 1;
      *display: inline;
      background: transparent url(../img/quicksumbg.gif) 0 0 no-repeat;
      width: 272px;
      height: 201px;
      margin-top: 20px;
      vertical-align: top;
      text-align: justify; }
    .container .header h3 {
      position: absolute;
      padding: 0 8px;
      margin: 0 30px;
      top: 230px;
      left: 0px;
      font: 10px verdana, arial, sans serif;
      color: #fff; }
      .container .header h3 a:link {
        color: #fff; }
      .container .header h3 a:visited {
        color: #672; }
      .container .header h3 a:hover {
        background: #fff;
        color: #000;
        text-decoration: none; }
  .container .main {
    background: transparent url(../img/lbg.gif) 0 0 repeat-y;
    font-size: 0px;
    margin-top: -33px; }
    .container .main .listlink {
      display: inline-block;
      *zoom: 1;
      *display: inline;
      font: 8pt/16pt verdana, geneva, arial, sans serif;
      padding: 50px 30px 0 130px;
      width: 195px;
      vertical-align: top;
      background: transparent url(../img/lsh.gif) 0 0 no-repeat; }
      .container .main .listlink h3 {
        margin: 0px;
        width: 200px;
        height: 37px;
        white-space: nowrap;
        overflow: hidden;
        border-bottom: 1px solid #ddd; }
      .container .main .listlink h3.select {
        background: transparent url(../img/h3select.gif) 0 0 no-repeat; }
      .container .main .listlink h3.archives {
        background: transparent url(../img/h3archives.gif) 0 0 no-repeat;
        margin-bottom: 20px; }
      .container .main .listlink h3.resources {
        background: transparent url(../img/h3resources.gif) 0 0 no-repeat;
        margin: 10px 0 20px 0; }
      .container .main .listlink ul {
        margin: 10px 0 0 0;
        padding: 10px 8px 10px 8px; }
        .container .main .listlink ul li {
          margin: 0px;
          padding: 0px;
          list-style-type: none;
          display: block;
          line-height: 2.5ex;
          background: transparent url(../img/bullet.gif) 0 40% no-repeat;
          border-bottom: 1px solid #eee;
          padding: 5px 0px 5px 25px;
          margin: 5px 0; }
          .container .main .listlink ul li a {
            display: block; }
          .container .main .listlink ul li a:link {
            color: #230;
            font-weight: bold; }
          .container .main .listlink ul li a:visited {
            color: #672; }
          .container .main .listlink ul li a:hover {
            color: #ABBC47; }
          .container .main .listlink ul li a.b {
            display: inline; }
          .container .main .listlink ul li a.b:link {
            font-weight: normal;
            text-decoration: none; }
          .container .main .listlink ul li a.b:visited {
            color: #672; }
          .container .main .listlink ul li a.b:hover {
            text-decoration: underline; }
      .container .main .listlink a.c {
        display: block;
        line-height: 2.5ex;
        background: transparent url(../img/bullet2.gif) 0 50% no-repeat;
        padding: 0px 0px 0px 25px;
        margin: 5px 0; }
      .container .main .listlink a.c:link {
        color: #230; }
      .container .main .listlink a.c:visited {
        color: #672; }
      .container .main .listlink a.c:hover {
        color: #ABBC47; }
    .container .main .content {
      display: inline-block;
      *zoom: 1;
      *display: inline;
      font: 8pt/16pt verdana, geneva, arial, sans serif;
      width: 349px;
      border-left: 1px solid #ddd;
      padding: 50px 25px 0 30px;
      vertical-align: top;
      text-align: justify;
      background: transparent url(../img/lsh.gif) right top no-repeat;
      background-size: 74px 145px; }
      .container .main .content p {
        padding: 0 8px; }
      .container .main .content p.p1 {
        width: 270px; }
      .container .main .content h3 {
        border-bottom: 1px solid #ddd;
        min-width: 200px;
        height: 36px; }
      .container .main .content h3.theroad {
        overflow: hidden;
        white-space: nowrap;
        width: 270px;
        background: transparent url(../img/h3preamble.gif) 0 0 no-repeat; }
      .container .main .content h3.sowhat {
        background: transparent url(../img/h3explanation.gif) 0 0 no-repeat; }
      .container .main .content h3.part {
        background: transparent url(../img/h3participation.gif) 0 0 no-repeat; }
      .container .main .content h3.bene {
        background: transparent url(../img/h3benefits.gif) 0 0 no-repeat; }
      .container .main .content h3.require {
        background: transparent url(../img/h3requirements.gif) 0 0 no-repeat; }
      .container .main .content img {
        width: 150px;
        height: 15px;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: 30px; }
  .container .footer {
    position: absolute;
    top: 230px;
    left: 0px;
    color: #fff;
    font: 10px verdana, arial, sans serif;
    margin: 0px 30px 0px 550px;
    text-align: right; }
    .container .footer a {
      padding: 0 5px; }
    .container .footer a:link {
      color: #fff; }
    .container .footer a:visited {
      color: #672; }
    .container .footer a:hover {
      background: #fff;
      color: #000;
      text-decoration: none; }
