$brand-primary: #ffd800;

html{
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(#000, 0);
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    color: #fff;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
    background-color: transparent;
}
a{
    &:hover{
        text-decoration: none;
    }
}
.am-toast .anticon-loading{
    margin-bottom: 0;
}
.wrapper{
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    &.loaded{
        
    }
}
.header{
    height: 295px;
    font-size: 32px;
    background-color: #e05447;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    p + p{
        color: #ffe400;
        font-size: 60px;
        margin-top: 10px;
    }
}
.content{
    position: absolute;
    top: 295px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .8s ease-in-out;
    .am-list-view{
        &-scrollview{
            height: 100%;
        }
    }
    &.loaded{
        opacity: 1;
    }
}
.empty{
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logger{
    color: #333;
    .am-list{
        &-content{
            color: #333 !important;
            font-size: 32px !important;
        }
        &-brief{
            color: #333 !important;
            font-size: 22px !important;
        }
        &-extra{
            color: #ff8003 !important;
        }
    }
}