body {
  margin: 0;
  padding: 0;
  background: url(../img/to_pageback.gif) 0 0 repeat fixed;
  color: #ccc;
  font: 76% Arial, Helvetica, sans-serif;
  text-align: center; }

.css-zen-garden {
  width: 760px;
  margin: 0 auto 60px;
  background: #404040 url(../img/bandwidthkiller.jpg) center bottom no-repeat;
  text-align: left;
  padding: 0 0 215px;
  border: 2px solid #000;
  border-top: none; }

.header {
  position: relative; }
  .header h1 {
    background: transparent url(../img/to_header_01.jpg) 0 0 no-repeat;
    width: 760px;
    height: 186px;
    margin: 0; }
  .header h2 {
    position: absolute;
    top: 2px;
    right: 5px;
    background: transparent url(../img/to_beauty.gif) 0 0 no-repeat;
    width: 261px;
    height: 17px;
    cursor: text;
    margin: 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap; }

.listlink {
  display: inline-block;
  width: 220px;
  vertical-align: top; }
  .listlink .ademo {
    margin: 0 20px 10px 25px;
    font: bolder small-caps 1.1em/1em "Trebuchet MS", Arial, Helvetica, sans-serif; }
    .listlink .ademo a {
      text-decoration: none;
      color: #CCC; }
    .listlink .ademo p:first-child {
      color: #FFAE00;
      padding: 10px;
      border: 1px solid #23282C;
      margin-top: 20px; }
    .listlink .ademo p:last-child {
      color: #999;
      text-align: center; }
  .listlink .list {
    margin: 7em 10px 0px 12px;
    padding: 0px; }
    .listlink .list div {
      margin-bottom: 60px;
      background: transparent url(../img/to_leftcol_02.jpg) -50px -60px repeat-y;
      color: #999;
      width: 200px;
      position: relative;
      border: 1px solid #000; }
    .listlink .list h3 {
      text-indent: 34px;
      position: absolute;
      margin: 0;
      padding: 0;
      border-right: 1px solid #000;
      font-size: 16px;
      background: transparent url(../img/to_h3back_04.gif) 0 0 no-repeat;
      height: 23px;
      width: 200px;
      top: -24px;
      line-height: 23px;
      color: #FFAE00; }
    .listlink .list ul {
      margin: 0;
      padding: 0; }
      .listlink .list ul li {
        margin: 0;
        padding: 6px 0px;
        list-style-type: none; }
        .listlink .list ul li a {
          font-size: 0.6em;
          color: #FFCC00;
          text-decoration: none; }
        .listlink .list ul li a:hover {
          font-style: italic;
          color: #CCCCCC; }
        .listlink .list ul li a:first-child {
          display: block;
          font-size: 0.8em;
          text-align: left;
          text-transform: uppercase;
          font-weight: bold;
          padding-left: 45px;
          background: transparent url(../img/ani1.gif) 10px 30% no-repeat;
          color: #BBBBBB; }
        .listlink .list ul li a:first-child:hover {
          background: transparent url(../img/ani2.gif) 10px 30% no-repeat;
          color: #EBEBEB; }

.main {
  display: inline-block;
  width: 510px;
  margin-left: 13px;
  position: relative; }
  .main a {
    color: #FFAE00;
    text-decoration: none;
    font-weight: bold; }
  .main a:hover {
    border-bottom: 2px dashed #FFAE00;
    color: #EBEBEB; }
  .main div {
    width: 510px;
    border: 1px solid #000;
    padding: 0px;
    margin: 22px 0px 40px;
    background-color: #61605F;
    position: relative; }
  .main h3 {
    margin: 0;
    padding: 0;
    text-indent: 34px;
    background: transparent url(../img/to_h3back_04.gif) 0 0 no-repeat;
    width: 400px;
    height: 23px;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: -24px;
    color: #FFAE00; }
  .main div.requirements {
    margin-bottom: 0px;
    background: #61605F url(../img/bandwidthkiller-alpha.jpg) center bottom no-repeat; }
  .main p {
    padding: 5px 12px 1em;
    margin: 0px; }
  .main footer {
    position: absolute;
    width: 200px;
    border-bottom: 1px solid #000;
    padding-top: 36px;
    padding-bottom: 12px;
    margin: 0px;
    background: transparent url(../img/to_footerback_07.gif) 0 0 no-repeat;
    text-align: center;
    left: -220px;
    bottom: 0px; }
