.scroll-div {
	width: 585px;
	margin: 250px auto 0;
	height: 50px;
	padding-top: 1PX;
	position: relative;
	.scroll-bar {
		width: 585px;
		height: 50px;
		position: relative;
		overflow: hidden;
		background: transparent;
		background-size: 44px 36px;
		.scroll {
			width: 585px;
			text-align: center;
			position: absolute;
			padding-left: 15px;
		}
		li {
			list-style: none;
			line-height: 50px;
			font-size: 24px;
			text-align: center;
			color: #4843b3;
			b {
				display: inline-block;
				margin: 0 8px;
				color: #fa5504;
				font-weight: normal;
			}
		}
	}
}