.api {
  padding: 30px;
  a {
    display: inline-block;
    width: 180px;
    line-height: 80px;
    color: #fff;
    background: #4ab6fa;
    text-align: center;
    font-size: 28px;
    margin: 30px 0 0 40px;
  }
}