@import '../common/base';
.repayment-result{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 60px 30px;
  i {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: url(../../img/mobile/repayment/icon-processing.png) 0 0 no-repeat;
    background-size: 150px 150px;
    &.fail{
      background-image: url(../../img/mobile/repayment/icon-fail.png)
    }
    &.success{
      background-image: url(../../img/mobile/repayment/icon-success.png)
    }
  }
  h1{
    text-align: center;
    font-size: 48px;
    color: $h1;
    line-height: 3em;
  }
  p {
    font-size: 26px;
    line-height: 1.6em;
    color: $h3;
    a {
      color: $main;
      text-decoration: underline;
    }
  }
  .btn {
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 32px;
    color: #fff;
    background: $main;
    border-radius: 30px;
    margin: 30px 0;
  }
}
