.wrapper-mobile-wechat{
	background-color: #fafcff;
	padding-bottom: 75px;
	.main{
		background-color: #ddedfe;
		padding-top: 136px;
		padding-bottom: 130px;
		// &:after{
		// 	height: 129px;
		// 	content: '';
		// 	background: url(../../img/mobile/misc/wechat/wave.png) center no-repeat;
		// 	background-size: contain;
		// 	margin-top: 42px;
		// 	display: block;
		// }
	}
	.title{
		width: 436px;
		height: 98px;
		background: url(../../img/mobile/misc/wechat/title.png) center no-repeat;
		background-size: contain;
		margin: 0 auto;
	}
	.qrcode{
		width: 436px;
		height: 434px;
		background: url(../../img/mobile/misc/wechat/qrcode.png) center no-repeat;
		background-size: contain;
		margin: 36px auto 0;
	}
	.slogen{
		width: 510px;
		height: 31px;
		background: url(../../img/mobile/misc/wechat/slogen.png) center no-repeat;
		background-size: contain;
		margin: 30px auto 0;
	}
	.footer{
		height: 524px;
		background: url(../../img/mobile/misc/wechat/wave.png) center no-repeat;
		background-size: contain;
		margin-top: -100px;
		padding-top: 75px;
	}
	.copy,
	.save{
		width: 430px;
		height: 96px;
		background: center no-repeat;
		background-size: contain;
		margin-right: auto;
		margin-left: auto;
	}
	.copy{
		background-image: url(../../img/mobile/misc/wechat/copy.png);
		margin-top: 30px;
	}
	.save{
		background-image: url(../../img/mobile/misc/wechat/save.png);
		margin-top: 15px;
	}
	.tips{
		color: #ff7200;
		font-size: 26px;
		text-align: center;
		margin-top: 20px;
	}
	.logo{
		width: 158px;
		height: 47px;
		background: url(../../img/mobile/misc/wechat/logo.png) center no-repeat;
		background-size: contain;
		margin: 65px auto 0;
	}
}