.wrapper-misc-flow{
    .banner{
        text-align: center;
        background-color: #fff;
        transition: .3s ease-out;
        a{
            height: 280px;
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}