$border-color: #332511;
body {
  font: 11px/18px helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

#css-zen-garden {
  background: url(../img/bg1.gif) 0 0 repeat;
  color: #A05B00;
}

#content {
  width: 773px;
  margin: 0 auto;
  background: #000;
  border-left: 3px double $border-color;
  border-right: 3px double $border-color;
  padding-top: 41px;
  .header {
    border-top: 3px double $border-color;
    border-bottom: 3px double $border-color;
    position: relative;
    font-size: 0px;
    img {
      vertical-align: top;
    }
    .img1 {
      border-right: 3px double $border-color;
    }
    .img2 {
      position: absolute;
      top: -40px;
      right: -10px;
    }
    .img-div {
      display: inline-block;
      img {
        display: block;
      }
      .img3 {
        border-bottom: 3px double $border-color;
      }
      .img4 {
        position: absolute;
        top: 79px;
        left: 495px;
      }
    }
  }
  .main {
    font-size: 0px;
    .list {
      font-size: 11px;
      display: inline-block;
      padding-top: 20px;
      width: 400px;
      height: 633px;
      line-height: 12px;
      background: transparent url(../img/bg3.gif) 0 0 repeat-x;
      a {
        text-decoration: none;
        color: #AF4F0A;
        display: block;
        font-weight: bold;
      }
      a:link {
        color: #AF4F0A;
      }
      a:visited {
        color: #D79900;
        text-decoration: underline;
      }
      a:hover {
        text-decoration: underline;
      }
      a.c {
        display: inline;
        font-weight: normal;
      }
      a.c:link,
      a.c:visited {
        color: #742500;
        font-weight: normal;
        display: inline;
        text-decoration: none;
      }
      h3 {
        margin-bottom: 0.5em;
        width: 73px;
        height: 12px;
        background: transparent url(../img/h-select.gif) 0 0 no-repeat;
        background-size: 73px 12px;
      }
      .list-left {
        display: inline-block;
        width: 160px;
        padding-left: 50px;
        ul {
          margin: 0px;
          padding: 0px;
          color: #132F5B;
          li {
            list-style-type: none;
            background: transparent url(../img/w2.gif) 3px 5px no-repeat;
            padding-left: 15px;
            margin-bottom: 0.5em;
            margin-right: 10px;
            padding: 5px 5px 5px 18px;
          }
          li:hover {
            background: #2A1812;
            border: 1px solid #452310;
            a {
              color: #FF9D14;
            }
            a.c {
              color: #E84900;
            }
          }
        }
      }
      .list-right {
        display: inline-block;
        vertical-align: top;
        width: 180px;
        a {
          padding: 0;
          margin-bottom: 0.5em;
        }
        h3 {
          margin-left: -12px;
        }
        h3.list-img2 {
          background: transparent url(../img/h-archives.gif) 0 0 no-repeat;
        }
        h3.list-img3 {
          background: transparent url(../img/h-resources.gif) 0 0 no-repeat;
        }
      }
    }
  }
  .text {
    font-size: 12px;
    display: inline-block;
    border-left: 3px double $border-color;
    vertical-align: top;
    width: 367px;
    background: transparent url(../img/skyline.jpg) left bottom no-repeat;
    padding-top: 10px;
    a {
      color: #D79900;
      text-decoration: none;
      font-weight: bold;
    }
    a:link {
      color: #AF4F0A;
    }
    a:visited {
        color: #D79900;
        text-decoration: underline;
      }
    a:hover {
      text-decoration: underline;
    }
    h3 {
      font-size: 12px;
      color: #CA7400;
      margin: 0;
      padding: 0;
      background: transparent url(../img/w1.gif) 7px 30% no-repeat;
      padding-left: 20px;
    }
    p {
      width: 320px;
      text-align: justify;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    .footer {
      padding: 5px 10px 100px 15px;
      float: right;
      a {
        padding-left: 10px;
        text-decoration: none;
      }
      a:link {
        color: #AF4F0A;
      }
      a:visited {
        color: #D79900;
        text-decoration: underline;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

* > .list-left li {
  margin-top: -7px;
  padding: 5px 5px 5px 18px;
  margin-right: 10px;
  border: solid 1px transparent;
}
