body {
  margin: 0;
  padding: 0;
  color: #888;
}

.CssZenGarden-body {
  background: transparent url(../img/bg_tree.gif) 0 0 repeat-x;
}

.container {
  width: 732px;
  margin: 0 auto;
  h1 {
    margin: 0;
    padding: 0;
    background: transparent url(../img/nutitle.gif) 0 0 no-repeat;
    width: 684px;
    height: 200px;
  }
  a {
    display: block;
    font-family: Verdana, Arial, Sans-serif;
    font-size: 90%;
  }
  a:link,
  a:visited {
    color: #090;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    color: #663;
    background-color: transparent;
    text-decoration: underline;
  }
  a.c {
    font-size: 90%;
    display: inline;
    font-family: Georgia, Serif;
    font-weight: normal;
    text-transform: lowercase;
  }
}

.linklist {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  h3 {
    margin: 0px;
    height: 41px;
    span {
      display: none;
    }
  }
  h3.select {
    background: transparent url(../img/select.gif) 0 0 no-repeat;
  }
  h3.archives {
    background: transparent url(../img/archives.gif) 0 0 no-repeat;
  }
  h3.resources {
    background: transparent url(../img/resources.gif) 0 0 no-repeat;
  }
  ul {
    margin: 0;
    padding: 0;
    font-size: 90%;
    li {
      list-style-type: none;
      line-height: 1em;
      margin: 0 0 .5em;
    }
  }
}

.main {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  a {
    display: inline;
  }
  h3 {
    margin: 0px;
    padding: 0px;
    height: 73px;
    span {
      display: none;
    }
  }
  h3.trte {
    background: transparent url(../img/road.gif) 0 0 no-repeat;
  }
  h3.supp {
    background: transparent url(../img/what.gif) 0 0 no-repeat;
  }
  h3.part {
    background: transparent url(../img/road.gif) 0 0 no-repeat;
  }
  h3.bene {
    background: transparent url(../img/road.gif) 0 0 no-repeat;
  }
  h3.requirements {
    background: transparent url(../img/road.gif) 0 0 no-repeat;
  }
  p {
    line-height: 1.5em;
  }
  p.p1 {
    line-height: 1.2em;
    width: 350px;
  }
  .footer {
    background: #D9D98B;
    color: #fff;
    padding: 10px 20px;
    border-top: 1px solid #363;
    font: 85% Verdana, Arial, Sans-serif;
    text-align: center;
  }
}

.rightlist {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  a {
    display: inline;
    text-transform: uppercase;
  }
  p {
    text-align: center;
  }
  p.p1 {
    text-align: right;
    font-size: 80%;
  }
  p.p2 {
    margin: 0;
    padding: 0 0 90px 0;
    background: transparent url(../img/barrow.gif) 55% bottom no-repeat;
  }
}
